/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #282a36 ;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff758c;
  }
  body {
    background-color: #ffffff;
    color: #222;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Dark Mode /
  body.dark {
    background-color: #121212;
    color: #f7f7f7;
  }
  
  / Toggle button style */
  .theme-toggle-btn {
    background: none;
    border: 1px solid #888;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: inherit;
    font-size: 14px;
  }
  